        <% if user_signed_in? %>
          <% if item.favorites.where(user_id: current_user.id).exists? %>
            <%= link_to(item_favorite_path(item.id, item.favorites), method: :delete, remote: true, class:"favorite-btn-on") do %>
              <i class="fas fa-star favorite-star-icon-on"></i>
              <p><span>お気に入り: <%= item.favorites.count %></span></p>
            <% end %>
          <% else %>
            <%= link_to(item_favorites_path(item.id), method: :post, remote: true, class:"favorite-btn-off") do %>
              <i class="far fa-star favorite-star-icon-off"></i>
              <p><span>お気に入り: <%= item.favorites.count %></span></p>
            <% end %>
          <% end %>
        <% else %>
          <div class="favorite-btn">
            <i class="far fa-star favorite-star-icon-off"></i>
            <p><span>お気に入り: </span><%= item.favorites.count %></p>
          </div>
        <% end %>